In [1]:
pip install pandas mysql-connector-python

Requirement already satisfied: pandas in c:\users\91848\appdata\roaming\python\python312\site-packages (2.2.2)
Requirement already satisfied: mysql-connector-python in c:\users\91848\appdata\roaming\python\python312\site-packages (9.0.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\91848\appdata\roaming\python\python312\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\91848\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\91848\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\91848\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\91848\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in c:\users\91848\appdata\roaming\python\python312\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\91848\appdata\roaming\python\python312\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\91848\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\91848\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\91848\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\91848\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\91848\appdata\roaming\python\python312\site-packages (2.1.1)

In [73]:
import pandas as pd
import mysql.connector
import numpy as np
final_df=pd.read_csv("C:/Users/91848/Desktop/data science/GUVI/pro/red_bus_data.csv")
print("data loaded successfully")

data loaded successfully

In [75]:
df=final_df
df

,Unnamed: 0,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,0,MMK Travels,A/C Seater / Sleeper (2+1),22:30,07:30,09h 00m,INR 750,21 Seats available,4.4\n517,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,1,P K Travels,A/C Seater / Sleeper (2+1),21:30,06:00,08h 30m,INR 800,22 Seats available,4.3\n12,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,2,DLT BUS,A/C Sleeper (2+1),22:30,07:30,09h 00m,INR 999,17 Seats available,4.0\n311,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,3,National travels and logistics,A/C Sleeper (2+1),22:45,07:00,08h 15m,799,15 Seats available,4.4\n23,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,4,P K Travels,A/C Sleeper (2+1),18:45,06:30,11h 45m,INR 1100,15 Seats available,4.2\n117,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...,...
2556,2556,Sneha Gold Bus Service,A/C Seater (2+3),16:30,21:30,05h 00m,INR 300,19 Seats available,4.6\n17,https://www.redbus.in/bus-tickets/digha-to-kol...,Digha to Kolkata
2557,2557,Maa Chandi Travels,A/C Seater / Sleeper (2+2),14:30,19:10,04h 40m,360,13 Seats available,3.3\n59,https://www.redbus.in/bus-tickets/digha-to-kol...,Digha to Kolkata
2558,2558,Snemita Parisheba(SNEHA GOLD),AC Seater (2+3),16:40,21:10,04h 30m,352,46 Seats available,3.2\n44,https://www.redbus.in/bus-tickets/digha-to-kol...,Digha to Kolkata
2559,2559,City Express (Shinjini),AC Seater (2+3),22:45,04:10,05h 25m,INR 290,25 Seats available,3.4\n29,https://www.redbus.in/bus-tickets/digha-to-kol...,Digha to Kolkata
2560,2560,Snemita Paribahan(Shinjini),A/C Seater (2+3),22:45,04:10,05h 25m,INR 320,25 Seats available,3.3\n30,https://www.redbus.in/bus-tickets/digha-to-kol...,Digha to Kolkata

In [77]:
def clean_duration(duration):
    try:
        if pd.isna(duration):
            return "00:00:00"
        duration = duration.strip()
        if "h" in duration and "m" in duration:
            hours, minutes = duration.split("h")
            minutes = minutes.replace('m', '').strip()
            return f"{hours.zfill(2)}:{minutes.zfill(2)}:00"
        return "00:00:00"
    
    except (ValueError, IndexError):
        return "00:00:00"

In [79]:
import pandas as pd

def clean_price(price):
    try:
        if pd.isna(price):
            return 0.0
            
        # Convert price to string if it's a float
        price_str = str(price)

        # Remove 'INR' and any other unwanted text, and keep only digits and periods
        cleaned_price = ''.join(filter(lambda x: x.isdigit() or x == '.', price_str))

        # Convert to float
        return float(cleaned_price) if cleaned_price else 0.0
    
    except (ValueError, AttributeError):
        return 0.0

In [81]:
import pandas as pd

def clean_seats(seats):
    try:
        if pd.isna(seats):
            return 0
        
        if isinstance(seats, int):
            return seats
        
        return int(seats.split()[0])
    
    except (ValueError, IndexError):
        return 0

In [83]:
def clean_ratings(rating):
    try:
        if pd.isna(rating) or rating == 'No Rating':
            return 0.0
        
        if isinstance(rating, float):
            return rating
        cleaned_rating = rating.split('\n')[0]
        return float(cleaned_rating)
    
    except (ValueError, IndexError):
        return 0.0

In [85]:
df['Total_duration']=df['Total_duration'].apply(clean_duration)
df['Price']=df['Price'].apply(clean_price)
df['Seats_Available']=df['Seats_Available'].apply(clean_seats)
df['Ratings']=df['Ratings'].apply(clean_ratings)

In [87]:
import pandas as pd
df_cleaned = df.dropna(subset=['Bus_name', 'Bus_type'], how='all')
print(df_cleaned)

      Unnamed: 0                        Bus_name                    Bus_type  \
0              0                     MMK Travels  A/C Seater / Sleeper (2+1)
1              1                     P K Travels  A/C Seater / Sleeper (2+1)
2              2                         DLT BUS           A/C Sleeper (2+1)
3              3  National travels and logistics           A/C Sleeper (2+1)
4              4                     P K Travels           A/C Sleeper (2+1)
...          ...                             ...                         ...
2556        2556          Sneha Gold Bus Service            A/C Seater (2+3)
2557        2557              Maa Chandi Travels  A/C Seater / Sleeper (2+2)
2558        2558   Snemita Parisheba(SNEHA GOLD)             AC Seater (2+3)
2559        2559         City Express (Shinjini)             AC Seater (2+3)
2560        2560     Snemita Paribahan(Shinjini)            A/C Seater (2+3)

     Start_time End_time Total_duration   Price  Seats_Available  Ratings  \
0         22:30    07:30       09:00:00   750.0               21      4.4
1         21:30    06:00       08:30:00   800.0               22      4.3
2         22:30    07:30       09:00:00   999.0               17      4.0
3         22:45    07:00       08:15:00   799.0               15      4.4
4         18:45    06:30       11:45:00  1100.0               15      4.2
...         ...      ...            ...     ...              ...      ...
2556      16:30    21:30       05:00:00   300.0               19      4.6
2557      14:30    19:10       04:40:00   360.0               13      3.3
2558      16:40    21:10       04:30:00   352.0               46      3.2
2559      22:45    04:10       05:25:00   290.0               25      3.4
2560      22:45    04:10       05:25:00   320.0               25      3.3

                                             Route_link  \
0     https://www.redbus.in/bus-tickets/bangalore-to...
1     https://www.redbus.in/bus-tickets/bangalore-to...
2     https://www.redbus.in/bus-tickets/bangalore-to...
3     https://www.redbus.in/bus-tickets/bangalore-to...
4     https://www.redbus.in/bus-tickets/bangalore-to...
...                                                 ...
2556  https://www.redbus.in/bus-tickets/digha-to-kol...
2557  https://www.redbus.in/bus-tickets/digha-to-kol...
2558  https://www.redbus.in/bus-tickets/digha-to-kol...
2559  https://www.redbus.in/bus-tickets/digha-to-kol...
2560  https://www.redbus.in/bus-tickets/digha-to-kol...

                  Route_name
0     Bangalore to Kozhikode
1     Bangalore to Kozhikode
2     Bangalore to Kozhikode
3     Bangalore to Kozhikode
4     Bangalore to Kozhikode
...                      ...
2556        Digha to Kolkata
2557        Digha to Kolkata
2558        Digha to Kolkata
2559        Digha to Kolkata
2560        Digha to Kolkata

[2531 rows x 11 columns]

In [89]:
df_cleaned = df_cleaned.reset_index(drop=True)
print(df_cleaned)

      Unnamed: 0                        Bus_name                    Bus_type  \
0              0                     MMK Travels  A/C Seater / Sleeper (2+1)
1              1                     P K Travels  A/C Seater / Sleeper (2+1)
2              2                         DLT BUS           A/C Sleeper (2+1)
3              3  National travels and logistics           A/C Sleeper (2+1)
4              4                     P K Travels           A/C Sleeper (2+1)
...          ...                             ...                         ...
2526        2556          Sneha Gold Bus Service            A/C Seater (2+3)
2527        2557              Maa Chandi Travels  A/C Seater / Sleeper (2+2)
2528        2558   Snemita Parisheba(SNEHA GOLD)             AC Seater (2+3)
2529        2559         City Express (Shinjini)             AC Seater (2+3)
2530        2560     Snemita Paribahan(Shinjini)            A/C Seater (2+3)

     Start_time End_time Total_duration   Price  Seats_Available  Ratings  \
0         22:30    07:30       09:00:00   750.0               21      4.4
1         21:30    06:00       08:30:00   800.0               22      4.3
2         22:30    07:30       09:00:00   999.0               17      4.0
3         22:45    07:00       08:15:00   799.0               15      4.4
4         18:45    06:30       11:45:00  1100.0               15      4.2
...         ...      ...            ...     ...              ...      ...
2526      16:30    21:30       05:00:00   300.0               19      4.6
2527      14:30    19:10       04:40:00   360.0               13      3.3
2528      16:40    21:10       04:30:00   352.0               46      3.2
2529      22:45    04:10       05:25:00   290.0               25      3.4
2530      22:45    04:10       05:25:00   320.0               25      3.3

                                             Route_link  \
0     https://www.redbus.in/bus-tickets/bangalore-to...
1     https://www.redbus.in/bus-tickets/bangalore-to...
2     https://www.redbus.in/bus-tickets/bangalore-to...
3     https://www.redbus.in/bus-tickets/bangalore-to...
4     https://www.redbus.in/bus-tickets/bangalore-to...
...                                                 ...
2526  https://www.redbus.in/bus-tickets/digha-to-kol...
2527  https://www.redbus.in/bus-tickets/digha-to-kol...
2528  https://www.redbus.in/bus-tickets/digha-to-kol...
2529  https://www.redbus.in/bus-tickets/digha-to-kol...
2530  https://www.redbus.in/bus-tickets/digha-to-kol...

                  Route_name
0     Bangalore to Kozhikode
1     Bangalore to Kozhikode
2     Bangalore to Kozhikode
3     Bangalore to Kozhikode
4     Bangalore to Kozhikode
...                      ...
2526        Digha to Kolkata
2527        Digha to Kolkata
2528        Digha to Kolkata
2529        Digha to Kolkata
2530        Digha to Kolkata

[2531 rows x 11 columns]

In [91]:
df=df_cleaned
df

,Unnamed: 0,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,0,MMK Travels,A/C Seater / Sleeper (2+1),22:30,07:30,09:00:00,750.0,21,4.4,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,1,P K Travels,A/C Seater / Sleeper (2+1),21:30,06:00,08:30:00,800.0,22,4.3,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,2,DLT BUS,A/C Sleeper (2+1),22:30,07:30,09:00:00,999.0,17,4.0,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,3,National travels and logistics,A/C Sleeper (2+1),22:45,07:00,08:15:00,799.0,15,4.4,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,4,P K Travels,A/C Sleeper (2+1),18:45,06:30,11:45:00,1100.0,15,4.2,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...,...
2526,2556,Sneha Gold Bus Service,A/C Seater (2+3),16:30,21:30,05:00:00,300.0,19,4.6,https://www.redbus.in/bus-tickets/digha-to-kol...,Digha to Kolkata
2527,2557,Maa Chandi Travels,A/C Seater / Sleeper (2+2),14:30,19:10,04:40:00,360.0,13,3.3,https://www.redbus.in/bus-tickets/digha-to-kol...,Digha to Kolkata
2528,2558,Snemita Parisheba(SNEHA GOLD),AC Seater (2+3),16:40,21:10,04:30:00,352.0,46,3.2,https://www.redbus.in/bus-tickets/digha-to-kol...,Digha to Kolkata
2529,2559,City Express (Shinjini),AC Seater (2+3),22:45,04:10,05:25:00,290.0,25,3.4,https://www.redbus.in/bus-tickets/digha-to-kol...,Digha to Kolkata
2530,2560,Snemita Paribahan(Shinjini),A/C Seater (2+3),22:45,04:10,05:25:00,320.0,25,3.3,https://www.redbus.in/bus-tickets/digha-to-kol...,Digha to Kolkata

In [93]:
#database connection
try:
    conn=mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='848981',
        database='route'
    )
    cursor= conn.cursor()
    print("database connection successfull")
except mysql.connector.Error as err:
    print(f"Error: {err}")
    exit(1)

database connection successfull

In [95]:
#insert data into mysql

try:
    for index, row in df.iterrows():
        cursor.execute(
            """
            INSERT INTO bus_routes (
                Bus_name, Bus_type, Start_time, End_time, Total_duration, 
                Price, Seats_Available, Ratings, Route_link, Route_name
            ) 
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
            """,
            (row['Bus_name'], row['Bus_type'], row['Start_time'], row['End_time'],
             row['Total_duration'], row['Price'], row['Seats_Available'],
             row['Ratings'], row['Route_link'], row['Route_name'])
        )
        conn.commit()
    print(f"Inserted {len(df)} rows successfully.")
except Exception as e:
    print(f"An error occurred: {e}")



finally:
    cursor.close()
    conn.close()
    print("database connection closed")

Inserted 2531 rows successfully.
database connection closed

In [71]:
df=df_cleaned
df

,Unnamed: 0,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,0,MMK Travels,A/C Seater / Sleeper (2+1),22:30,07:30,09h 00m,INR 750,21 Seats available,4.4\n517,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,1,P K Travels,A/C Seater / Sleeper (2+1),21:30,06:00,08h 30m,INR 800,22 Seats available,4.3\n12,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,2,DLT BUS,A/C Sleeper (2+1),22:30,07:30,09h 00m,INR 999,17 Seats available,4.0\n311,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,3,National travels and logistics,A/C Sleeper (2+1),22:45,07:00,08h 15m,799,15 Seats available,4.4\n23,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,4,P K Travels,A/C Sleeper (2+1),18:45,06:30,11h 45m,INR 1100,15 Seats available,4.2\n117,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...,...
2526,2556,Sneha Gold Bus Service,A/C Seater (2+3),16:30,21:30,05h 00m,INR 300,19 Seats available,4.6\n17,https://www.redbus.in/bus-tickets/digha-to-kol...,Digha to Kolkata
2527,2557,Maa Chandi Travels,A/C Seater / Sleeper (2+2),14:30,19:10,04h 40m,360,13 Seats available,3.3\n59,https://www.redbus.in/bus-tickets/digha-to-kol...,Digha to Kolkata
2528,2558,Snemita Parisheba(SNEHA GOLD),AC Seater (2+3),16:40,21:10,04h 30m,352,46 Seats available,3.2\n44,https://www.redbus.in/bus-tickets/digha-to-kol...,Digha to Kolkata
2529,2559,City Express (Shinjini),AC Seater (2+3),22:45,04:10,05h 25m,INR 290,25 Seats available,3.4\n29,https://www.redbus.in/bus-tickets/digha-to-kol...,Digha to Kolkata
2530,2560,Snemita Paribahan(Shinjini),A/C Seater (2+3),22:45,04:10,05h 25m,INR 320,25 Seats available,3.3\n30,https://www.redbus.in/bus-tickets/digha-to-kol...,Digha to Kolkata